apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tn-ai-validation-amt-bzk

resources:
  - ../../base
  - secret-pgadmin.yaml
  - secret-postgres.yaml
  - secret-postgres-super.yaml
  - secret-oidc.yaml
  - secret-minio.yaml
  - secret-azure-backup.yaml
  - networkpolicy-allow-amt.yaml

components:
  - ../../base/components/backup

commonAnnotations:
  commithash: 1094faa50c7faad46dc932ff3b86aeb961c9fe6f
  minbzk.github.io/version: main

images:
  - name: amt-image
    newName: ghcr.io/minbzk/amt
    newTag: v0.4.0@sha256:5c2c3e2a65c01fd09fd3d2158154990d02aafcb0e1fce44318c8e440224fd72c

patches:
  - target:
      kind: Cluster
      name: cluster-db
    patch: |
      - op: replace
        path: /spec/backup/barmanObjectStore/destinationPath
        # the namespace is not included in the backup path and we can not specify the filename at the moment, so we change the path to avoid collisions
        value: "https://aivalidation.blob.core.windows.net/ai-validation/postgres-backups-bzk"
      # Hibernate PostgreSQL cluster (preserves PVCs/data)
      - op: add
        path: /metadata/annotations/cnpg.io~1hibernation
        value: "on"
  - target:
      kind: Ingress
      name: ing
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: amt.bzk.apps.digilab.network
      - op: replace
        path: /spec/tls/0/hosts/0
        value: amt.bzk.apps.digilab.network
      - op: add
        path: /metadata/annotations/nginx.ingress.kubernetes.io~1permanent-redirect
        value: "https://amt.bzk.rijksapp.nl/"
  - target:
      kind: Ingress
      name: ing-pgadmin
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: pgadmin.bzk.apps.digilab.network
      - op: replace
        path: /spec/tls/0/hosts/0
        value: pgadmin.bzk.apps.digilab.network
  # Scale down all deployments to 0 replicas
  - target:
      kind: Deployment
      name: dpl
    patch: |
      - op: replace
        path: /spec/replicas
        value: 0
      - op: add
        path: "/spec/template/spec/containers/0/env/-"
        value:
          name: OIDC_DISCOVERY_URL
          value: "https://keycloak.apps.digilab.network/realms/Algoritmes-BZK/.well-known/openid-configuration"
  - target:
      kind: Deployment
      name: dpl-pgadmin
    patch: |
      - op: replace
        path: /spec/replicas
        value: 0
  - target:
      kind: Deployment
      name: dpl-minio
    patch: |
      - op: replace
        path: /spec/replicas
        value: 0
  # Delete the HPA to prevent auto-scaling when scaled to zero
  - target:
      kind: HorizontalPodAutoscaler
      name: hpa
    patch: |
      $patch: delete
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: hpa
