apiVersion: apps/v1
kind: Deployment
metadata:
  name: dpl
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ai-verordening-beslishulp
    spec:
      automountServiceAccountToken: false
      containers:
        - image: ai-verordening-beslishulp-image
          name: ai-verordening-beslishulp
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: 256Mi
              ephemeral-storage: "256Mi"
            requests:
              cpu: 500m
              memory: 128Mi
