apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

namespace: tn-ai-validation-task-registry

namePrefix: task-registry-

commonLabels:
  minbzk.github.io/name: task-registry

buildMetadata: [originAnnotations]

commonAnnotations:
  commithash: 8bf500d2b543a7e62fcb6ed731aa75812f4aa009
  minbzk.github.io/version: main

images:
  - name: task-registry-image
    newName: ghcr.io/minbzk/task-registry
    newTag: main@sha256:4ef209c50f73ea50ef9e71efd130e9c884c72eb13084940d2439c2fd058c7029
